* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #a8d580, #00009a); 
    margin: 0; 
    padding: 0;
}


.container-destinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(135deg, #a8d580, #00009a); 
    padding: 20px; 
    border-radius: 10px; 
}


.roteiros-viagens {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin-bottom: 20px;
}


.roteiros-viagens img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}


.roteiros-viagens .roteiro-destino {
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.roteiros-viagens .roteiro-incluso {
    padding: 0 15px;
    list-style-type: none;
    color: #666;
}

.roteiros-viagens .roteiro-incluso li {
    margin-bottom: 5px;
}

.roteiros-viagens .roteiro-preco {
    padding: 10px 15px;
    font-size: 1.4em;
    text-align: center;
    background-color: #d7d465; 
    color: #333; 
}

.roteiros-viagens .roteiro-obs,
.roteiros-viagens .roteiro-parcelamento {
    padding: 10px 15px;
    font-size: 0.9em;
    color: #888;
}

/* Botão Comprar */
.roteiros-viagens .roteiro-comprar {
    width: 100%;
    padding: 10px 15px; 
    font-size: 0.9em; 
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #3498db;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}



.roteiros-viagens .roteiro-comprar:hover {
    background-color: #2980b9;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}


@media (min-width: 701px) {
    .container-destinos {
        padding: 10px; 
    }

    .roteiros-viagens {
        width: calc(33.33% - 20px); 
    }
}

@media (max-width: 700px) {
    .container-destinos {
        padding: 10px; 
    }

    .roteiros-viagens {
        width: calc(100% - 20px); 
    }
}