/* Estilos para largura maior que 500px */
@media only screen and (min-width: 501px) {
    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 2%, rgba(0, 212, 255, 1) 100vh);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: 'Mukta Mahee';
    }
    
    /* Aumentando as letras e adicionando estilos estilizados */
    #menu, #noticias, #destaques, #servicos, #resultados {
        background-color: #a1a1a1;
        border: 0.5px solid var(--corBordasPrimaria);
        border-radius: 10px;
        box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.4);
        transform: translateZ(0);
        transition: transform 0.3s ease-in-out;
        overflow-y: auto;
        max-height: 300px;
        color: black;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }
    #menu:hover, #noticias:hover, #destaques:hover, #servicos:hover, #resultados:hover {
        transform: scale(1.02) translateZ(30px);
    transition: transform 0.3s ease, font-size 0.3s ease; /* Adicionando transição de tamanho de fonte */
    font-size: 1.1em; 
    }

    /* Estilos para os blocos */
    #menu, #noticias, #destaques {
        height: 200px;
        margin-right: 5px;
        float: left;
        box-sizing: border-box;
        color: black;
        padding: 10px;
        text-align: center;
        overflow: hidden;
        margin-bottom: 15px;
        overflow-y: auto; 
        max-height: 300px; 
    }

    #servicos, #resultados {
        margin-bottom: 10px;
        height: 200px;
        float: left;
        margin-right: 10px;
        box-sizing: border-box;
        color: black;
        padding: 10px;
        text-align: center;
        overflow: hidden;
        overflow-y: auto; 
        max-height: 300px; 
    }

    /* Estilos individuais para cada bloco */
    #servicos {
        width: calc(40% - 10px);
        background-color: rgba(255, 255, 255, 0.5);
        margin-right: 10px;
        border-radius: 5px;
    }

    #resultados {
        width: calc(60% - 10px);
        background-color: rgba(255, 255, 255, 0.5);
        margin-right: 10px;
        border-radius: 5px;
    }

    #menu, #noticias {
        width: calc(40% - 10px);
        background-color: rgba(255, 255, 255, 0.5);
        margin-right: 10px;
        border-radius: 5px;
    }

    #destaques {
        width: calc(20% - 10px);
        background-color: rgba(255, 255, 255, 0.5);
        margin-right: 1px;
        border-radius: 5px;
    }

    /* Estilos para título */
    h1 {
        text-align: center;
        color: #ffffff; /* Alterando a cor para um tom mais chamativo */
        padding: 30px 0; /* Aumentando o espaçamento interno para destacar */
        margin-bottom: 20px; /* Aumentando o espaçamento inferior */
        font-size: 36px; /* Aumentando o tamanho da fonte para maior destaque */
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8); /* Reforçando o efeito de sombra */
        font-weight: bold; /* Deixando o texto mais forte */
        letter-spacing: 1px;
    }

    /* Estilos para o corpo */
    body {
        
        /* Outros estilos para o body, se necessário */
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--corBackgroundTerciaria);
        width: 95%;
        max-width: 1000px;
        margin-top: 10px;
        height: 5vh;
        color: var(--corBackgroundPrimaria);
        font-weight: bold;
        font-size: 12px; /* Aumentei o tamanho da fonte para melhor legibilidade */
        border-radius: 5px;
        font-family: 'Mukta Mahee';
        padding: 10px; /* Adicionei um espaço interno */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionei uma sombra sutil */
    }
    
}
@media only screen and (max-width: 500px) {
    body{
        margin: 0;
        padding: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    #menu, #noticias, #destaques, #servicos, #resultados {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.5;
        color: black;
        padding: 10px;
        text-align: center;
        overflow: hidden;
        margin-bottom: 10px;
        width: calc(100% - 20px);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.5);
        width: calc(100% - 15px);
        overflow-y: auto;
        transform: translateZ(0);
        transition: transform 0.3s ease-in-out;
        
        
    }
    #menu:hover, #noticias:hover, #destaques:hover, #servicos:hover, #resultados:hover {
        transform: scale(1.05) translateZ(20px);
    }


    /* Estilos para título */
    h1 {
        text-align: center;
        color: white;
        padding: 20px 0;
        margin-bottom: 10px;
        font-size: 24px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    /* Estilos para o corpo */
    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 2%, rgba(0, 212, 255, 1) 100vh);
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--corBackgroundTerciaria);
        width: 95%;
        max-width: 1000px;
        margin-top: 10px;
        height: 5vh;
        color: var(--corBackgroundPrimaria);
        font-weight: bold;
        font-size: 12px; /
        border-radius: 5px;
        font-family: 'Mukta Mahee';
        padding: 10px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    }
    
    }
